.bg-background-light, .bg-white {
  background-color: #f9fafc !important;
}

.dark\:bg-background-dark:is(.dark *), .dark\:bg-codeblock:is(.dark *) {
  background-color: #1a202c !important;
}

@media (min-width: 1024px) {
  .lg\:pl-\[5\.5rem\] {
    padding-left: 3.5rem;
  }
}

.max-w-\[28rem\] {
  max-width: 25rem;
}

@media (min-width: 1280px) {
  .xl\:w-\[28rem\] {
    width: 25rem;
  }
}

[data-callout-type="info"] {
  border-color: rgb(14 165 233 / .2);
  background-color: rgb(240 249 255 / .5);
}

[data-callout-type="info"] svg {
  color: rgb(14 165 233 / 1);
}

table th:not(:last-child), table td:not(:last-child) {
  min-width: 0;
  white-space: nowrap;
}

.latex-style {
  display: block;
  margin-bottom: 1.5em;
  font-size: 1.125rem;
}

footer {
  margin-top: -1.375rem;
  padding-top: 0 !important;
  padding-bottom: 4rem !important;
}

footer > div:nth-of-type(2) {
  visibility: hidden;
}

#content-area a, #content-area a:visited {
  color: #4a6de5;
}
