.bg-background-light, .bg-white {
  background-color: #f9fafc !important;
}

.dark\:bg-background-dark:is(.dark *), .dark\:bg-codeblock:is(.dark *) {
  background-color: #1a202c !important;
}

#content-area a, #content-area a:visited {
  color: #4a6de5;
}

[data-callout-type="info"] {
  border-color: rgb(14 165 233 / .2);
  background-color: rgb(240 249 255 / .5);
}

[data-callout-type="info"] svg {
  color: rgb(14 165 233 / 1);
}

.latex-style {
  font-size: 1.125rem;
}

footer {
  margin-top: -1.375rem;
  padding-top: 0 !important;
  padding-bottom: 4rem !important;
}

footer > div:nth-of-type(2) {
  visibility: hidden;
}
